// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-modal {
  padding: 20vh 16px;
  background: rgba(0,0,0,0.45);
}

.ion-color-successlight {
  --ion-color-base: var(--ion-color-successlight) !important;
  --ion-color-base-rgb: var(--ion-color-successlight-rgb) !important;
  --ion-color-contrast: var(--ion-color-successlight-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-successlight-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-successlight-shade) !important;
  --ion-color-tint: var(--ion-color-successlight-tint) !important;
}

.ion-color-dangerlight {
  --ion-color-base: var(--ion-color-dangerlight) !important;
  --ion-color-base-rgb: var(--ion-color-dangerlight-rgb) !important;
  --ion-color-contrast: var(--ion-color-dangerlight-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-dangerlight-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-dangerlight-shade) !important;
  --ion-color-tint: var(--ion-color-dangerlight-tint) !important;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-background {
  background: transparent !important;
  --ion-background-color: transparent !important;
  --background: transparent !important;
  input:-internal-autofill-selected {
      background-color: none !important;
      background-image: none !important;
      color: rgb(0, 0, 0) !important;
  }
}
